<main class="container">
    <h1>{{ scheduleService.festivity?.nombre }}</h1>
    @for (puesto of scheduleService.data(); track puesto.id) {
        <section>
            <h2>{{ puesto.puesto }}</h2>
            <div class="cards-container">
                @for (horario of puesto.horarios; track horario.trackId) {
                    <div class="card" [ngClass]="{'card-complete': horario.bloqueado }">
                        <h3>{{ horario.horaInicio }}</h3>
                        <ul class="people-container">
                            @for (persona of horario.gente; track persona.trackId) {
                                <li>{{ persona.nombre }}</li>
                            }
                        </ul>
                        @if (!userService.user.assignmentPlace && horario.gente.length < puesto.limite) {
                            <button (click)="addToWork(horario.id)">AÑADIR</button>
                        } @else if (userService.user.assignmentPlace === puesto.puesto && horario.horaInicio === userService.user.schedule) {
                            <button (click)="removeToWork()">ELIMINAR</button>
                        }
                    </div>
                }
            </div>
        </section>
    }
</main>
