<main class="container">
    <h1>{{ scheduleService.festivity?.nombre }}</h1>
    @for (puesto of scheduleService.data(); track puesto.id) {
        <section>
            <h2>{{ puesto.puesto }}</h2>
            <div class="cards-container">
                @for (jornada of puesto.jornadas; track jornada.trackId) {
                    <div class="card">
                        <h3>{{ jornada.horaInicio }}</h3>
                        <ul class="people-container">
                            @for (persona of jornada.gente; track persona.trackId) {
                                <li>{{ persona.nombre }}</li>
                            }
                        </ul>
                        @if (!userService.user.assignmentPlace) {
                            <button (click)="addToWork(puesto.id, puesto.puesto, jornada.horaInicio)">AÑADIR</button>
                        } @else if (userService.user.assignmentPlace === puesto.puesto && jornada.horaInicio === userService.user.schedule) {
                            <button (click)="removeToWork()">Eliminar</button>
                        }
                    </div>
                }
            </div>
        </section>
    }
</main>