main.container
    background-color: #f8f9fa
    height: fit-content
    min-height: 100dvh
    display: flex
    flex-direction: column
    gap: 24px
    padding: 24px
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif

    h1
        margin-bottom: 0

    section
        background: white
        padding: 24px
        border-radius: 12px
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05)
        transition: transform 0.2s, box-shadow 0.2s


        h2
            text-transform: capitalize
            color: #2c3e50
            font-size: 1.5rem
            margin-bottom: 16px
            padding-bottom: 8px
            border-bottom: 2px solid #f0f0f0
            font-weight: 600

        .cards-container
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
            gap: 16px

            .card
                background: white
                border-radius: 10px
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05)
                padding: 20px
                transition: all 0.3s ease
                border: none
                position: relative
                overflow: hidden
                background-color: #D2A9A952

                &.card-complete
                    background-color: #8989897A

                &:hover
                    transform: translateY(-5px)
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)

                h3
                    color: #99001F
                    font-size: 1.2rem
                    margin-bottom: 12px
                    font-weight: 500

                .people-container
                    border-top: 1px solid #eee
                    padding-top: 12px
                    margin-bottom: 16px
                    list-style: none
                    padding-left: 0

                    li
                        padding: 6px 0
                        color: #555
                        font-size: 0.95rem
                        position: relative
                        padding-left: 16px

                        &::before
                            content: "•"
                            color: #99001F
                            position: absolute
                            left: 0


button
    background: linear-gradient(135deg, #99001F, #c70039)
    color: white
    border: none
    padding: 10px 16px
    border-radius: 6px
    font-weight: 500
    cursor: pointer
    transition: all 0.3s ease
    width: 100%
    text-transform: uppercase
    font-size: 0.85rem
    letter-spacing: 0.5px

    &:hover
        background: linear-gradient(135deg, #c70039, #99001F)
        box-shadow: 0 4px 8px rgba(153, 0, 31, 0.3)

.card::after
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 4px
  height: 100%
  background: linear-gradient(to bottom, #99001F, #c70039)