.main-container
    background-color: #FFFFFF
    @media(min-width: 465px)
        margin-left: 12vw
        margin-right: 12vw
    @media(min-width: 765px)
        margin-left: 25vw
        margin-right: 25vw